.customNav{
    background-color: white !important;
    padding: 10px 10px;
   
}
.customNav a{
    color: rgb(17, 16, 16) !important;
    
}
.customNav a:hover{
    background-color: #EFC8D7;
    color: whitesmoke !important;
}

.navbar-nav{
    margin-left:auto;
    margin-right: 0 !important;
}
.nav-item active{
    background-color: #546a2f;
}
.heroBackground{
    background-image: url(images/banner.png);
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;

}
.heroContent {
    color:white;
}
.logo{
    position:absolute;
    top: 20px;
    left: 60px;
    
}

.contentSection {
  padding-top: 20px;
  padding-bottom: 20px;
    
}
.heading {
    color: #1d382a;
    margin-bottom:40px;
    margin-top: 20px;
}
.display-4{
    color: rgb(19, 20, 18) !important;
    font-weight: bold;
    padding-bottom: 20px;
}

.myRole{
    padding-bottom: 20px;
}

.btn-primary{
    background-color: darkolivegreen;
    border-color:darkolivegreen;
    
}
.btn-primary:active{
    background-color: darkolivegreen !important;
    border-color:darkolivegreen !important;
}
.btn-primary:hover{
    background-color: #a7bea9;
    border-color: #a7bea9;
}
.btn-primary:focus{
    background-color: rgb(170, 151, 127);
    border-color:rgb(170, 151, 127);
    box-shadow: 0 0 0 2px #a7bea9 !important;
}

.media{
    padding-top: 60px;
    padding-bottom: 40px;
}
.theProcess img{
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    padding-bottom: 60px;
}
@media only screen and (max-width: 480px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding:0;
        overflow-x: hidden;
    }

}

.brainStorming img{
    padding-top: 40px;
    transition:transform 0.25s ease;
    height:auto;
    width: 100%;
}
.brainStorming img:hover{
    position: relative;
    -webkit-transform:scale(1.4);
    transform: scale(1.3);
    z-index:100;
}
.myIterations{
    padding-top: 60px;
}

#more{
    display:none;
}




#wrapper {
	width: 960px;
	margin: 0 auto;
}

#wrapper {
  perspective: 2500;
	-webkit-perspective: 2500;
	width: 60px;
  perspective-origin: 50% 150px;
	-webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
	-webkit-transition: -webkit-perspective, 1s;
}

#image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}


@-webkit-keyframes spin {
	from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
	}
	to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
		-webkit-transform: rotateY(-360deg);
	}
}

#image {
	margin: 0 auto;
  position: relative;
	height: 600px;
	width: 200px;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
	-webkit-animation: spin 24s infinite linear;
}

.image {
	position: absolute;
	width:200px ;
  max-height: 600px;
	text-align: center;
	font-size: 20em;
	color: #fff;
}

#image > .i1 {
  transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
}
#image > .i2 {
  transform: rotateY(45deg) translateZ(485px);
  -moz-transform: rotateY(45deg) translateZ(485px);
  -o-transform: rotateY(45deg) translateZ(485px);
  -ms-transform: rotateY(45deg) translateZ(485px);
  -webkit-transform: rotateY(45deg) translateZ(485px);
}
#image > .i3 {
  transform: rotateY(90deg) translateZ(485px);
  -moz-transform: rotateY(90deg) translateZ(485px);
  -o-transform: rotateY(90deg) translateZ(485px);
  -ms-transform: rotateY(90deg) translateZ(485px);
  -webkit-transform: rotateY(90deg) translateZ(485px);
}
#image > .i4 {
  transform: rotateY(135deg) translateZ(485px);
  -moz-transform: rotateY(135deg) translateZ(485px);
  -o-transform: rotateY(135deg) translateZ(485px);
  -ms-transform: rotateY(135deg) translateZ(485px);
  -webkit-transform: rotateY(135deg) translateZ(485px);
}
#image > .i5 {
  transform: rotateY(180deg) translateZ(485px);
  -moz-transform: rotateY(180deg) translateZ(485px);
  -o-transform: rotateY(180deg) translateZ(485px);
  -ms-transform: rotateY(180deg) translateZ(485px);
  -webkit-transform: rotateY(180deg) translateZ(485px);
}
#image > .i6 {
  transform: rotateY(225deg) translateZ(485px);
  -moz-transform: rotateY(225deg) translateZ(485px);
  -o-transform: rotateY(225deg) translateZ(485px);
  -ms-transform: rotateY(225deg) translateZ(485px);
  -webkit-transform: rotateY(225deg) translateZ(485px);
}
#image > .i7 {
  transform: rotateY(270deg) translateZ(485px);
  -moz-transform: rotateY(270deg) translateZ(485px);
  -o-transform: rotateY(270deg) translateZ(485px);
  -ms-transform: rotateY(270deg) translateZ(485px);
  -webkit-transform: rotateY(270deg) translateZ(485px);
}
#image > .i8 {
  transform: rotateY(315deg) translateZ(485px);
  -moz-transform: rotateY(315deg) translateZ(485px);
  -o-transform: rotateY(315deg) translateZ(485px);
  -ms-transform: rotateY(315deg) translateZ(485px);
  -webkit-transform: rotateY(315deg) translateZ(485px);
}
